.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/
articles/
private/
inst/daacs_writing/
inst/layout_test/
inst/daacs/afinn/
inst/daacs/bing/
inst/daacs/loughran/
inst/daacs/nrc/
nrc/
afinn/
inst/slides/
