.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/
articles/
private/
inst/daacs_writing
inst/daacs_writing2
inst/layout_test
inst/daacs_demo/afinn
inst/daacs_demo/bing
inst/daacs_demo/loughran
inst/daacs_demo/nrc
inst/daacs_demo/qda.sqlite
inst/daacs_old
inst/slides
inst/doc
nrc/
afinn/
docs
inst/rubric/
inst/bs4dash/
Abstract.docx
.Rapp.history
sri2022/
